.directory
*.make
Makefile
obj/
ipch/
.vs/
*.sdf
*.v12.suo
*.VC.db
*.aps
*.vcxproj.user
build/
generated/
Intermediate/
output/

*.csproj
*.csproj.user
*.sln
Properties/


Logs/
imgui.ini
Tools/header-cycle-checker/target
