<MusicList>
    <Music path="Resources/Sound/BgMusic/NielsSwekMusic.mp3"/>
    <Music path="Resources/Sound/BgMusic/main.mp3"/>
    <Music path="Resources/Sound/BgMusic/Popskyy - ABXY - 03 Excursion.mp3"/>
    <Music path="Resources/Sound/BgMusic/Exhilarate.mp3"/>
</MusicList>

<LevelList>
    <Level name="" path="Resources/tutorial_Level.txt"/>
    <Level name="" path="Resources/Level1.txt"/>
    <Level name="" path="Resources/Level2.txt"/>
    <Level name="" path="Resources/Level3.txt"/>
</LevelList>

<AvatarControls>
    <action name="jump" scan_code="90"/>
    <action name="attack" scan_code="88"/>
    <action name="left" scan_code="37"/>
    <action name="right" scan_code="39"/>
    <action name="god" scan_code="71"/>
</AvatarControls>
